@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */
.placeholder {
  background-color: grey;
  border-radius: 6px;
}

.loader-nav {
  border: 1px solid grey;
  height: 85px;
  margin: 5px 5px 10px;
  border-radius: 15px;
  padding: 15px;
}

/* ====================
- Main
==================== */
main {
  min-height: 80vh;
}

.section-text-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.section-text-combo p {
  width: 70%;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* ====================
- Hero Section
==================== */
#hero {
 
  background-image: url("https://html.nkdev.info/godlike/assets/images/image-1.jpg"); 
  background-size: cover;
  background-position: center;
}
.avtx{
 text-align: center;
 display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center;     /* Centra verticalmente */
            height: 500px;
            color: white;
            text-align: center;
            font-weight: 600;
            font-family: "Marcellus SC", serif;
            font-size: 80px;
            opacity: 10px;
}

/* ====================
- Products Section
==================== */
swiper-slide {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================
- Newsletter
==================== */
#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#newsletter small {
  color: red;
}

/* ====================
- Media Queries
==================== */

/* Breakpoints: 
   xs   <  576px
   sm   ≥  576px
   md   ≥  768px
   lg   ≥  992px
   xl   ≥  1200px
   xxl  ≥  1400px
*/

@media screen and (max-width: 1200px) {
  .tarjeta-wrapper {
    max-width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .tarjeta-wrapper {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 80%;
  }

  .tarjeta-wrapper {
    max-width: 590px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 18px;
  }

  .section-text-combo p {
    width: 100%;
  }

  .tarjeta-wrapper {
    max-width: 320px;
  }
}
